<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
  <link rel="stylesheet" href="resources/css/blog.css">
</head>
<body>
<section id="new-blog">
  <form action="add" method="post" th:object="${blog}">
    <table border="1" cellspacing="10" cellpadding="10">
      <thead>
      <tr>
        <th>Tiêu đề</th>
        <th>Nội dung:</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label >Tiêu đề:</label>
            <input th:field="*{blogName}" type="text"></td>
          <td>
            <label >Nội dung:</label>
            <textarea th:field="*{blogContent}"></textarea>
          </td>
          <td>
          <button type="submit">Đăng bài</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</section>
</body>
</html>