<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Đã Gửi</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<a href="/user/add">Add user</a>

<div class="container">
    <h2>Thông Tin User</h2>
    <table>
        <tr>
            <th>Stt</th>
            <th>Họ và Tên</th>
            <th>Email</th>
            <th>Giới tính</th>
            <th>Ngày Sinh</th>
            <th colspan="2">Action</th>
        </tr>
        <tr th:each="user,loop: ${list}">
            <td th:text="${loop.count}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.gender}?'Nam':'Nữ'"></td>
            <td th:text="${user.dob}"></td>
            <td><a th:href="|/user/edit/${user.userId}|">Sửa</a></td>
            <td><a th:href="|/user/delete/${user.userId}|">Xoá</a></td>
        </tr>
    </table>
</div>

<script>
    // Lấy các thông tin từ URL query string
    const urlParams = new URLSearchParams(window.location.search);

    // Hiển thị thông tin trong bảng
    document.getElementById("name").textContent = urlParams.get("name");
    document.getElementById("email").textContent = urlParams.get("email");
    document.getElementById("gender").textContent = urlParams.get("gender");
    document.getElementById("country").textContent = urlParams.get("country");
    document.getElementById("interests").textContent = urlParams.getAll("interests").join(", ");
    document.getElementById("message").textContent = urlParams.get("message");
</script>

</body>
</html>